<!DOCTYPE html>
<html>
<head>
  <title>Choose your own Misadventure</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<%#=render 'layouts/navigation' %>
<div id="contain">
  <div id="main">
  </div>  
</div>

<%= yield %>
<script type="text/javascript">
  <% if signed_in? -%>
    Misadventure.currentUser = new Misadventure.Models.Users.User(<%= current_user.to_json.html_safe %>);
  <% else -%>
    Misadventure.currentUser = null;
  <% end -%>  
  $(document).ready(Misadventure.start());
</script>
</body>
</html>
